
.botaoNum{
    width: 35%;
    height:9%;
    background-color: black;
    margin: 1%;
}
.botaoNumC{
    width: 27%;
    height:8%;
    margin: 2%;
}
.input{
    width: 20%;
    height:16%;
    margin-bottom: 5%;
}
.divFundo{
    background-color: rgb(13, 8, 32);
    width: 20%;
    height: 10%;
    margin: 9%;
    border-radius: 2%;
}
.divBotao{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 3%;
}