
.botaoNum{
    width: 35%;
    height:9%;
    background-color: black;
    margin: 1%;
}
.botaoNumC{
    width: 27%;
    height:8%;
    margin: 2%;
}
.input{
    width: 98%;
    height:3rem;
    margin-bottom: 5%;
    border-radius:10px ;
    padding: 2px;
    background-color: white;
}
.divFundo{
    background-color: rgb(13, 8, 32);
    width: 20%;
    height: 10%;
    margin: 9%;
    border-radius: 2%;
    padding: 20px;
}
.divBotao{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 3%;
}
